body {
    background: linear-gradient(to right, #f8e4be, #fed07b); /* Fondo degradado llamativo */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 70vw;
    
  }
  
  